
html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: inherit;
    }
}

.btn {
    display: inline-block;
    font-size: 14px;
    padding: 4px 10px;
    color: #fff;
    border-radius: 4px;
    background-color: #66e9de;
    text-decoration: none;
    transition: background .3s;

    &:hover {
        background-color: #4cb9b0;
    }

    & + & {
        margin-left: 15px;
    }
}